* {
  margin: 0;
}

body div {
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hover__item a {
  display: block;
  padding: 0 30px;
  text-decoration: none;
  color: #000;
  line-height: 55px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

.hover__item a::after {
  display: block;
  height: 2px;
  background-color: #000;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition: 200ms;
  transition: 200ms;
  content: "";
  opacity: 0;
}

.hover__item a:hover::after {
  -webkit-transform: translateY(2px);
  transform: translateY(0px);
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 1;
}

.hover__list {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.hover__item {
  list-style: none;
  transition: 300ms;
}
