* {
  margin: 0;
}

body div {
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hover__item a {
  display: block;
  padding: 0 30px;
  text-decoration: none;
  color: #000;
  line-height: 55px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}

.hover__item a::after {
  display: block;
  height: 2px;
  background-color: #000;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-transition: 200ms;
  transition: 200ms;
  content: "";
  opacity: 0;
}

.hover__item a:hover::after {
  -webkit-transform: translateY(2px);
  transform: translateY(0px);
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 1;
}

.hover__list {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.hover__item {
  list-style: none;
  transition: 300ms;
}

.btn {
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 40px;
  transition: 0.2s;
  cursor: pointer;
}

.button--green {
  color: #91d142;
  border: 1px solid #91d142;
}

.button--green:hover {
  color: #fff;
  background-color: #91d142;
}

.button--pink {
  color: #ee86b4;
  border: 1px solid #ee86b4;
}

.button--pink:hover {
  color: #fff;
  background-color: #ee86b4;
}

.button--orange {
  color: #f79903;
  border: 1px solid #f79903;
}

.button--orange:hover {
  color: #fff;
  background-color: #f79903;
}

.button--black {
  color: #000;
  border: 1px solid #000;
}

.button--black:hover {
  color: #fff;
  background-color: #000;
}

.btn--wide {
  margin-top: 0;
  margin-right: 0;
  display: block;
  text-align: center;
}

.button--wide {
  width: 100%;
}
